.itemCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  min-width: 257px;
}

.itemPrice {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.itemName {
  max-width: 255px;
  text-align: center;
}
