.constructorCard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.constructorCard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  border: 5px solid #4c4cff;
}
.constructorMenu {
  width: 100%;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.constructorItemTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.constructorItemBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.constructorItemFlex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  padding-left: 0;
  min-height: 400px;
}

.constructorItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.constructorPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
