.content {
  display: grid;
  grid-template-columns: 640px 600px;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.page {
  margin: 0 auto;
  max-width: 1280px;
}
