.appHeader {
  background-color: #1c1c21;
}

.content {
  display: grid;
  grid-template-columns: 640px 600px;
  margin: auto 340px;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
}
