.modalHeader {
  display: flex;
  height: 64px;
  width: 640px;
  /* border: 1px red dotted; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modalButton {
  align-items: center;
  background: transparent;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px green dotted; */
}
.modalImg {
  max-height: 240px;
  max-width: 520px;
}
.modalRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  height: 56px;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24px;
  color: #8585ad;
}
