.tab {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.menuIngredients {
  width: auto;
  height: 696px;
  border-top: 1px;
  list-style-type: none;
  overflow-y: scroll;
}

.groupIngredients {
  display: flex;
  flex-wrap: wrap;
}
