.menuIngredients {
  width: auto;
  height: 696px;
  border-top: 1px;
  list-style-type: none;
  overflow-y: scroll;
}
.tab {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  min-width: 257px;
}

.groupIngridents {
  display: flex;
  flex-wrap: wrap;
}
.itemPrice {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.itemName {
  max-width: 255px;
  text-align: center;
}
