.burgerIngredients {
}

.menuIngredients {
  width: auto;
  height: 696px;
  border-top: 1px;
  list-style-type: none;
  overflow-y: scroll;
}
.item {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.groupIngridents {
  display: flex;
  flex-wrap: wrap;
}
.itemPrice {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.itemName {
  max-width: 255px;
  text-align: center;
}
.elementPrice {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-family: "Iceland";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 24px;
}

.tab {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
