.appHeader {
  background-color: #1c1c21;
}
.contentHeader {
  max-width: 1280px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.contentHeader a {
  text-decoration: none;
}
.contentHeader span {
  vertical-align: super;
}
.menu {
  display: flex;
}
.logo {
  position: relative;
  left: -100px;
}

.active {
  color: #f2f2f3;
}
